{% extends 'main.html' %} 
{% load static %} 
{% block projects %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <form class="form auth__form" method="post">
        {% csrf_token %} 
        {% for field in form %}
        <div class="form__field">
          <label for="formInput#text">{{field.label}}: </label>
          {{field}} 
        </div>
        {% endfor %}
        <input type="submit" value="Save" class="btn btn--sub btn--md my-md"/>
        <a href="{% url 'account'%}"><input type="button" value="Back" class="btn btn--md my-md"/></a>
      </form>
    </div>
  </div>
</main>

{% endblock %}
